.jobs-education {
    @apply flex items-center flex-col py-[60px] px-[15vw];

    .sub-title {
        .title {
            color: var(--primary-color);
        }
        .side-line {
            background-color: var(--primary-color);
        }
    }

    table {
        @apply my-[60px];

        td {
            @apply py-[25px];
        }

        .date-year {
            @apply text-nowrap font-[500] text-[24px] uppercase text-[#878787] pt-10 pr-12 align-top;
        }

        .img {
            @apply align-top;
        }

        .content-box {
            @apply p-[15px] rounded-[10px] ml-20;
            border: 1px solid rgba(18, 18, 18, .3);

            .sub-title {
                @apply text-[20px] font-[500] uppercase;
            }

            .text {
                @apply text-[#878787] text-[16px];
            }
        }
    }

    .divider {
        @apply w-[170px] h-[2px] bg-[#121212]/[.4];

        div {
            @apply w-1/2 h-[4px] bg-amber-600 my-auto relative left-[25%] top-[-1px] rounded-sm;
        }
    }
}