#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    min-width: var(--default-min-width);
    padding: var(--default-side-padding);
}

.header-logo, .header-address, .header-schedule, .header-contacts {
    height: 70px;
    display: flex;
}

.logo-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.logo-title {
    color: var(--header-logo-title-color);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
}

.header-address, .header-schedule, .header-contacts {
    flex-direction: column;
}

.address-title, .schedule-title, .contacts-title {
    color: var(--header-title-color);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.logo-text, .address-text, .schedule-text, .contacts-text {
    color: var(--header-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.logo-text {
    color: var(--primary-color);
}