@import "/src/components/home/css/directions.css";
@import "/src/components/home/css/preregistration-form.css";
@import "/src/components/home/css/biography.css";
@import "/src/components/home/css/contacts.css";
@import "/src/components/home/css/achievements.css";
@import "/src/components/home/css/footer.css";

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}


