.home-bio {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    padding: 40px 15vw;

    .bio {
        width: 60%;
        font-size: 22px;
        text-transform: capitalize;
    }

    .image {
        text-align: center;
        width: 40%;
    }
}