.home-bio {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    padding: 60px 15vw 40px 15vw;

    .bio {
        width: 60%;
        font-size: 22px;
        padding-right: 40px;
        color: #000;
        font-weight: 400;
        line-height: normal;
    }

    .image {
        text-align: center;
        width: 40%;

        & img {
            width: 100%;
        }
    }
}