.home-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 15vw 60px 15vw;

    .sub-title {
        .title {
            color: var(--primary-color);
        }

        .side-line {
            background-color: var(--primary-color);
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        .profile {
            width: 30%;

            & img {
                width: 100%;
            }
        }

        .title {
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
    }

    .preregistration-form {
        display: flex;
        flex-direction: column;
        white-space: nowrap;

        & div {
            text-align: center;
        }

        & form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        & input, & button {
            border: none;
            padding: 20px;
            border-radius: 10px;
        }

        & input {
            background: #D2D2D2;
            color: #424242;
        }

        & button {
            bottom: 0;
            background-color: #C9884B;
            color: white;
        }
    }

    .divider {
        width: 1px;
        background-color: var(--primary-color);
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;

        .phone-number, .email {
            color: #878787;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .socials {
            margin-top: 20px;

            & a {
                margin: 0 5px;
            }
        }
    }
}