.home-directions {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 15vw;
    width: 100%;

    .sub-title {
        .title {
            color: var(--primary-color);
        }
        .side-line {
            background-color: var(--primary-color);
        }
    }
}

.directions-tree {
    display: flex;
    margin-top: 50px;

    .tree-left, .tree-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        white-space: nowrap;
    }

    .tree-left {
        padding-right: 40px;
    }

    .tree-right {
        padding-left: 40px;
    }

    .tree-left div {
        display: flex;
        justify-content: right;
        align-items: center;
        & span {
            text-align: right;
            margin-right: 40px;
        }
    }

    .tree-center {
        justify-content: center;
    }

    .tree-right div {
        display: flex;
        align-items: center;
        & span {
            margin-left: 40px;
        }
    }

    .left-center {
        padding-right: 60px;
    }

    .right-center {
        padding-left: 60px;
    }

    & span {
        color: var(--primary-color);
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }
}

@keyframes left-branch-slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30px);
    }
}

@keyframes left-branch-slide-left {
    0% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes right-branch-slide-right {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes right-branch-slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30px);
    }
}

@keyframes rotate-center-left {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-center-right {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
}