.home-preregistration-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: 335px;
    padding: 40px 15vw;
    background-color: var(--primary-color);

    .sub-title {
        .title {
            color: white;
        }
        .side-line {
            background-color: white;
        }
    }
}

